
body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
#header-img {
  margin-left: 30px;
  height: 35px;
}
#header {
  display: flex;
  position: fixed;
  top:0;
  background-color: #eee;
  height: 75px;
  width: 100%;
  align-items: center;
}
#nav-bar {
  margin-left: auto;
  padding-right: 15px;
}
#nav-bar a {
  margin-right: 80px;
}
[type="email"] {
  display: block;
  height: 30px;
  width: 250px;
  margin: auto;
  padding: 10px 5px;
  box-sizing: border-box;
  font-family: inherit;
}
[type="submit"] {
  display: block;
  margin: 10px auto;
  width: 125px;
  height:30px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  background-color: #f1c40f;
  border: 0;
}
[type="submit"]:hover, .select:hover {
  background-color: orange;
  transition: background-color 1s;
}
#features {
  margin: 50px auto;
  max-width: 800px;
  margin-bottom:50px;
  padding-top: 30px;
}
.icon {
  float: left;
  font-family:"FontAwesome";
  font-size: 40px;
  color: orange;
}
.fa-fire {padding-left:7px;}
#materials, #shipping, #assurance {
  margin-left: 100px;
}

#example {
  margin: auto;
  width: 500px;
}
#price {
  margin-top: 50px;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}
.item {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin-right:10px;
  margin-left: 10px;
}
li {
  padding-bottom: 10px;
}
.select {
  width: 100px;
  height: 40px;
  background-color: #f1c40f;
  font-size: 16px;
  text-transform: uppercase;
  font-family: inherit;
  border: 0;
  display: block;
  margin: auto;
}
#footer {
  background-color: rgb(221, 221, 221);
  text-align: right;
  margin: 0 auto;
  width: 800px;
  padding: 10px;
}
#footer a {
  padding-right: 15px;
}
#copyright {
  font-size: 14px;
  margin-top:5px;
}

a {
  text-decoration: none;
  color: black;
}
ol {
  list-style: none;
  text-align: center;
  padding: 0;
}
h1 {
  margin-top: 75px;
  text-align: center;
  font-size: 24px;
}
h2 {
  font-size: 24px;
}
#features h2 {
  margin-bottom:0;
  margin-top:0;
}
#features p {
  margin-top:0;
  margin-bottom: 40px;
}
.item h2 {
  margin:0;
  padding: 10px;
  padding-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(221, 221, 221);
}
h3 {
  font-size: 24px;
  text-align: center;
  margin-top:15px;
}

@media (max-width: 650px){
  #price {
    flex-direction: column;
  }
  #header {
    flex-wrap: wrap;
  }
}
